*{
    box-sizing: border-box;
}
h1, h2, h3{
    font-weight: bold;
}
body{
    font-family: 'raleway';
}
a{
    text-decoration: none;
    color: black;
}
section{
    padding: 20px 20px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 1400px;
    margin: 0 auto;
}
header nav{
    display: flex;
    flex-basis: 25%;
}
header nav ul{
    display: flex;
    flex-basis: 100%;
}
header nav ul li{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    border-top: solid white 3px;
    padding-top: 10px;
}
header nav ul > li:hover{
    border-top: 3px solid #0065fc;
}
header nav ul li > a{
    display: flex;
    align-items: center;
}
header a > img{
    max-width: 100px;
    padding-top: 30px;
    padding-left: 10px;
}

/* Main */

h1{
    font-size: 20px;
}

#mostpopular, #accommodation article a div > h3{
    font-size: 16px;
}
/* Location */

#location{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-basis: 100%;
    order: 1;
}
#location form{
    display: flex;
    border: solid 1px #f2f2f2;
    max-width: 400px;
    justify-content: space-between;
    border-radius: 16px;
}
#location form input{
    flex-basis: 100%;
    border: none;
    padding-left: 10px;
}
#location form input::placeholder{
    font-weight: bold;
    opacity: 1;
    font-size: 16px;
}
#location form > i{
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 15px 18px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
#location form button{
    background-color: #0065fc;
    border: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

/* Filters */

#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 40px;
    flex-basis: 100%;
    order: 2;
}
#filters ul{
    flex-direction: row;
    display: flex;
}
#filters ul li{
    border: solid 2px #f2f2f2;
    border-radius: 29px;
    margin: 10px;
}
#filters ul li a{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
}
#filters ul li a > i{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 15px 4px;
    color: #0065fc;
    margin-right: 10px;
    font-size: 20px;
}
#filters ul li:hover{
    background-color: #deebff;
}
#filters h2{
    margin-right: 30px;
    font-size: 20px;
}
#filters p{
    flex-basis: 100%;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
#filters p i{
    border: solid 1px;
    color: #0065fc;
    padding: 5px 9px;
    border-radius: 50px;
    display: flex;
    font-size: 12px;
    border-color: #deebff;
    margin-right: 10px;
}

/* Most popular */

#mostpopular{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    row-gap: 35px;
    flex-basis: 30%;
    padding: 40px;
    order: 4;

}
#mostpopular h2{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    font-size: 25px;
}
#mostpopular article{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
}

#mostpopular article > a{
    display: flex;
}
#mostpopular article figure{
    display: flex;
}
#mostpopular article figure > img{
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#mostpopular article a > div{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 10px;
    padding: 10px;
    row-gap: 10px;
    position: relative;
}
#mostpopular article a div > div{
    display: flex;
    bottom: 10px;
    position: absolute;
}
#mostpopular article div div > i{
    color: #0065fc;
    padding: 2px;
}


/* Accommodation */

#accommodation{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 40px;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 67%;
    column-gap: 30px;
    justify-content: space-between;
    order: 3;
}
#accommodation > h2{
    font-size: 25px;
    flex-basis: 100%;
}
#accommodation > article{
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-basis: 31%;
}
#accommodation article a{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}
#accommodation article a > figure{
    flex-basis: 100%;
    display: flex;
}
#accommodation article a figure img{
    object-fit: cover;
    height: 130px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
}
#accommodation article a > div{
    display: flex;
    row-gap: 7px;
    flex-direction: column;
    padding: 10px;
}
#accommodation article a div div i{
    color: #0065fc;
}
#accommodation > a{
    font-weight: bold;
    flex-basis: 100%;
    font-size: 20px;
}

/* Activities */

#activities{
    order: 5;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    column-gap: 10px;
    justify-content: space-between;
    row-gap: 20px;
}
#activities > h2{
    display: flex;
    flex-basis: 100%;
    font-size: 25px;
}
#activities > div{
    display: flex;
    flex-basis: 100%;
}
#activities div > article{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    flex-basis: 100%;
    height: 100%;
}
#activities div article a{
    flex-basis: 100%;
}
#activities div article a > figure{
    flex-basis: 100%;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#activities div article a figure > img{
    display: flex;
    flex-basis: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#activities > div:nth-child(1) article a {
    background-color: #0065fc;
}