/* Base */

*{
    box-sizing: border-box;
}
body{
    font-family: 'raleway';
}
a{
    text-decoration: none;
    color: black;
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
header nav{
    display: flex;
    flex-basis: 25%;
}
header ul{
    display: flex;
    flex-basis: 100%;
}
header li{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    border-top: solid white 3px;
    padding-top: 10px;
    font-size: 15px;
}
header li:hover a{
    color: #0065fc;
}
header li:hover{
    border-top: 3px solid #0065fc;
}
header li > a{
    display: flex;
    align-items: center; 
}
header img{
    width: 120px;
    padding: 30px 0px 0px 5px;
}


/* Main */

h1,h2{
    font-size: 20px;
}
h1, h2, h3{
    font-weight: bold;
}
#accommodation h2, #mostpopular h2, #activities h2{
    width: 100%;
}
h3{
    font-size: 14px;
}
#location, #filters p{
    font-size: 15px;
}
.card-container p{
    font-size: 12px;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


/* Location */

#location{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#location form{
    display: flex;
    border: solid 1px #f2f2f2;
    max-width: 370px;
    justify-content: space-between;
    border-radius: 16px;
}
#location input{
    width: 100%;
    border: none;
    padding-left: 10px;
}
#location input::placeholder{
    font-weight: bold;
    opacity: 1;
    font-size: 15px;
}
#location label{
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 15px 18px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
#location button{
    background-color: #0065fc;
    border: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
}
#location button i{
    display: none;
}


/* Filters */

#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0px 35px 0px;
}
#filters ul{
    flex-direction: row;
    display: flex;
}
#filters li{
    border: solid 2px #f2f2f2;
    border-radius: 29px;
    margin: 10px;
    font-size: 15px;
}
#filters li a{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
}
#filters li a > i{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 15px 4px;
    margin-right: 10px;
    font-size: 20px;
}
#filters li:hover{
    background-color: #deebff;
}
#filters h2{
    margin-right: 30px;
}
#filters p{
    margin-top: 20px;
}
#filters p i{
    border: solid 1px;
    padding: 5px 9px;
    border-radius: 50px;
    font-size: 12px;
    border-color: #deebff;
    margin-right: 10px;
    margin: 0px 10px 10px 0px;
}


/* Most popular */

#mostpopular{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    row-gap: 30px;
    width: 30%;
    padding: 30px;
}
#mostpopular h2{
    display: flex;
    justify-content: space-between;
}
#mostpopular article > a{
    display: flex;
}
#mostpopular figure{
    width: 80%;
    height: 115px;
}
#mostpopular img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#mostpopular .card-container{
    padding: 10px 10px 10px 15px;
    position: relative;
}
#mostpopular .star-rating{
    display: flex;
    bottom: 10px;
    position: absolute;
}



/* Accommodation */

#accommodation{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 30px;
    row-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 67%;
    justify-content: space-between;
}
#accommodation > article{
    width: 30%;
    height: 180px;
}
#accommodation figure{
    height: 60%;
}
#accommodation img{
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
#accommodation .card-container{
    padding: 10px 0px 0px 10px;
}
#accommodation .star-rating{
    display: flex;
}
#accommodation > a{
    font-weight: bold;
    width: 100%;
}
#accommodation > a:hover{
    color: #0065fc;
}


/* Activities */

#activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 60px 0px 40px 0px;
    justify-content: space-between;
}
#activities h3{
    flex-basis: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: center;
}
#activities a{
    display: flex;
    border-radius: 20px;
    flex-direction: column; 
    box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.15);
    height: 100%;
    width: 100%;
}
#activities img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    width: 100%;
}

#activities > div, #activities > article{
    width: 22%;
}
#activities > div{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
#activities > article{
    height: 400px;
}
#activities > article figure img{
    height: 350px;
}

#activities div:nth-of-type(1) article:nth-of-type(1){
    height: 220px;
}
#activities div:nth-of-type(1) article figure img:nth-of-type(1){
    height: 170px;
}
#activities div:nth-of-type(1) article:nth-of-type(2){
    height: 140px;
}
#activities div:nth-of-type(1) article:nth-of-type(2) figure img{
    height: 90px;
}

#activities div:nth-of-type(2) article:nth-of-type(1){
    height: 170px;
}
#activities div:nth-of-type(2) article:nth-of-type(1) figure img{
    height: 120px;
}
#activities div:nth-of-type(2) article:nth-of-type(2){
    height: 190px;
}
#activities div:nth-of-type(2) article:nth-of-type(2) figure img{
    height: 150px;
}


/* Footer */

footer{
    background-color: #f2f2f2;
}
footer .footer-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
footer .footer-menu{
    width: 33%;
}
footer h2{
    font-size: 16px;
    padding-bottom: 20px;
}
 footer li{
    padding-bottom: 10px;
}



    /* Tablette Version */
    @media screen and (max-width: 992px){

    #location, #filters{
        padding: 20px;
    }
    

    /* Header */

    header{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }
    header > a{
        text-align: center;
        width: 100%;
    }
    header img{
        padding-left: 0;
        padding-bottom: 20px;
    }
    header nav{
        flex-basis: 100%;
    }
    header ul li{
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;
    }
    header ul > li:hover{
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    /* Main */

    main{
        padding: 0;
    }
    main > div{
        flex-direction: column;
    }

    /* Location */

    #location{
        padding: 30px 20px;
    }
    #location button{
        border-radius: 15px;
        font-size: 18px;
        width: 60px;
    }
    #location button span{
        display: none;
    }
    #location button > i{
        display: contents;
    }
    #location label{
        padding: 18px 18px;
    }

    /* Filters */

    #filters{
        padding: 0px 20px 20px 20px;
    }
    #filters ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #filters ul li{
        margin-left: 0;
    }


    /* Most popular */

    #mostpopular{
        border-radius: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 20px 50px 20px;
        width: 100%;
    }
    #mostpopular article{
        width: 30%;
    }
    #mostpopular article a{
        flex-direction: column;
    }
    #mostpopular figure{
        width: 100%;
    }
    #mostpopular img{
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        object-position: 50% 65%;
    }
    #mostpopular .card-container{
        padding: 10px 0px 0px 10px;
        min-height: 66px;
        white-space: nowrap;
    }
    #mostpopular .star-rating{
        bottom: 2px;
    }
    #mostpopular h3{
        text-overflow: ellipsis;
        overflow: hidden;
    }


    /* Accommodation */

    #accommodation{
        background-color: white;
        padding: 40px 20px;
        width: 100%;
    }
    #accommodation article{
        box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.15);
    }


    /* Activities */

    #activities{
        padding: 20px 20px 50px 20px;
        row-gap: 30px;
    }
    #activities article{
        width: 100%;
        max-height: 200px;
        min-height: 200px;
        width: 48%;
    }
    #activities > article{
        order: 1;
    }
    #activities > div{
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-between;
        order: 2;
    }
    #activities figure > img{
        max-height: 150px;
        min-height: 150px;
        object-fit: cover;
    }
    }



        /* Smartphone Version */
        @media screen and (max-width: 768px){

            
        /* Header */

        header img{
            width: 100px;
        }


        /* Location */

        #location > p{
            padding-bottom: 20px;
        }


        /* Filters */

        #filters{
            padding-bottom: 30px;
        }


        /* Mostpopular */

        #mostpopular{
            row-gap: 10px;
            padding: 40px 20px;
            flex-direction: column;
        }
        #mostpopular h2{
            padding-bottom: 20px;
        }
        #mostpopular > article{
            width: 100%;
        }
        #mostpopular article a{
            display: flex;
            flex-direction: row;
        }
        #mostpopular figure{
            width: 60%;
        }
        #mostpopular .card-container{
            white-space: normal;
        }
        #mostpopular .star-rating{
            bottom: 10px;
        }
        #mostpopular img{
            border-top-right-radius: 0;
            border-bottom-left-radius: 16px;
        }


        /* Accommodation */

        #accommodation{
            flex-direction: column;
            row-gap: 15px;
            position: relative;
            padding: 30px 20px;
        }
        #accommodation h2{
            max-height: 20px;
            padding-bottom: 30px;
        }
        #accommodation article{
            max-height: 200px;
            width: 100%;
        }
        #accommodation img{
            object-position: 50% 65%;
        }
        #accommodation h3{
            padding: 0;
        }
        #accommodation > a{
            position: absolute;
            bottom: -30px;
        }


        /* Activities */

        #activities{
            row-gap: 25px;
            padding: 80px 20px 40px 20px;
        }
        #activities article{
            order: 0;
            width: 100%;
        }
        #activities > div{
            flex-direction: column;
            row-gap: 25px;
            order: 0;
        }


        /* Footer */

        footer .footer-container{
            flex-direction: column;
            padding: 50px 20px 50px 20px;
            row-gap: 30px;
        }
        footer .footer-menu{
            width: 100%;
        }
        }