*{
    box-sizing: border-box;
}
h1, h2, h3{
    font-weight: bold;
}
body{
    font-family: 'raleway';
}
a{
    text-decoration: none;
    color: black;
}
section{
    padding: 20px 10px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
header nav{
    display: flex;
    flex-basis: 25%;
}
header nav ul{
    display: flex;
    flex-basis: 100%;
}
header nav ul li{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    border-top: solid white 3px;
    padding-top: 10px;
    font-size: 15px;
}
header li:hover a{
    color: #0065fc;
}
header nav ul > li:hover{
    border-top: 3px solid #0065fc;
}
header nav ul li > a{
    display: flex;
    align-items: center; 
}
header a > img{
    max-width: 120px;
    padding-top: 30px;
    padding-left: 5px;
}

/* Main */

h1{
    font-size: 20px;
}

#mostpopular, #accommodation article a div > h3{
    font-size: 14px;
}
#location, #filters p{
    font-size: 15px;
}
/* Location */

#location{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-basis: 100%;
    order: 1;
}
#location form{
    display: flex;
    border: solid 1px #f2f2f2;
    max-width: 370px;
    justify-content: space-between;
    border-radius: 16px;
}
#location form input{
    flex-basis: 100%;
    border: none;
    padding-left: 10px;
}
#location form input::placeholder{
    font-weight: bold;
    opacity: 1;
    font-size: 15px;
}
#location form > i{
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 15px 18px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
#location form button{
    background-color: #0065fc;
    border: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
}
#location form button i{
    display: none;
}


/* Filters */

#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 35px;
    flex-basis: 100%;
    order: 2;
}
#filters ul{
    flex-direction: row;
    display: flex;
}
#filters ul li{
    border: solid 2px #f2f2f2;
    border-radius: 29px;
    margin: 10px;
    font-size: 15px;
}
#filters ul li a{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
}
#filters ul li a > i{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 15px 4px;
    color: #0065fc;
    margin-right: 10px;
    font-size: 20px;
}
#filters ul li:hover{
    background-color: #deebff;
}
#filters h2{
    margin-right: 30px;
    font-size: 18px;
}
#filters p{
    flex-basis: 100%;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
#filters p i{
    border: solid 1px;
    color: #0065fc;
    padding: 5px 9px;
    border-radius: 50px;
    display: flex;
    font-size: 12px;
    border-color: #deebff;
    margin-right: 10px;
}

/* Most popular */

#mostpopular{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    row-gap: 30px;
    flex-basis: 30%;
    padding: 32px;
    order: 4;
}
#mostpopular h2{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    font-size: 20px;
}
#mostpopular article{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
#mostpopular article > a{
    display: flex;
}
#mostpopular article figure{
    display: flex;
    width: 70%;
    height: 115px;
}
#mostpopular article figure > img{
    display: flex;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#mostpopular article a > div{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
    row-gap: 10px;
    position: relative;
    padding-left: 15px
}
#mostpopular article a div > p{
    font-size: 11px;
}
#mostpopular article a div > div{
    display: flex;
    bottom: 10px;
    position: absolute;
}
#mostpopular article div div > i{
    color: #0065fc;
    font-size: 12px;
}


/* Accommodation */

#accommodation{
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 32px;
    row-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 67%;
    column-gap: 30px;
    order: 3;
    justify-content: space-between;
}
#accommodation > h2{
    display: flex;
    font-size: 20px;
    flex-basis: 100%;
}
#accommodation > article{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-basis: 30%;
    height: 180px;
}
#accommodation article a{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}
#accommodation article a > figure{
    flex-basis: 100%;
    display: flex;
    height: 60%;
}
#accommodation article a figure > img{
    display: flex;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
#accommodation article a > div{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    flex-basis: 100%;
    padding-left: 10px;
    height: 40%;
}
#accommodation article a div > h3{
    padding-top: 7px;
}
#accommodation article a div > p{
    font-size: 11px;
}
#accommodation article a div div{
    display: flex;
}
#accommodation article a div div i{
    color: #0065fc;
    font-size: 12px;
}
#accommodation > a{
    font-weight: bold;
    flex-basis: 100%;
    font-size: 17px;
}
#accommodation > a:hover{
    color: #0065fc;
}

/* Activities */

#activities{
    order: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}
#activities > h2{
    flex-basis: 100%;
    font-size: 20px;
}
#activities div:nth-child(2){
    order: 1;
}
#activities div:nth-child(3){
    order: 2;
}
#activities div:nth-child(4){
    order: 3;
}
#activities div:nth-child(5){
    order: 4;
}
#activities > div{
    flex-basis: 22%;
}
#activities div article a > h3{
    flex-basis: 100%;
    display: flex;
    padding-left: 20px;
    align-items: center;
    font-size: 14px;
}
#activities div article > a{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    height: 100%;
}
#activities div article figure > img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    width: 100%;
}
#activities div:nth-child(2) article, #activities div:nth-child(4) article{
    height: 400px;
}
#activities div:nth-child(2) article figure img, #activities div:nth-child(4) article figure img{
    height: 350px;
}
#activities div:nth-child(3), #activities div:nth-child(5){
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
#activities div:nth-child(3) article:first-child{
    height: 220px;
}
#activities div:nth-child(3) article figure img:nth-child(1){
    height: 170px;
}
#activities div:nth-child(3) article:nth-child(2){
    height: 140px;
}
#activities div:nth-child(3) article:nth-child(2) figure img{
    height: 90px;
}
#activities div:nth-child(5) article:first-child{
    height: 170px;
}
#activities div:nth-child(5) article figure img:nth-child(1){
    height: 120px;
}
#activities div:nth-child(5) article:nth-child(2){
    height: 190px;
}
#activities div:nth-child(5) article:nth-child(2) figure img{
    height: 150px;
}


/* Footer */
footer{
    background-color: #f2f2f2;
}
footer div{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    flex-basis: 35%
}
footer div div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0;
}
footer div div h2, li{
    font-size: 15px;
}
footer div div nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


/* Responsive */

@media screen and (max-width: 992px){
    
#location, #filters, #mostpopular, #accommodation, #activities{
    order: 0;
}

#location, #filters{
    padding: 20px 20px;
}
 
/* Header */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
header > a{
    display: flex;
    padding: 0;
    justify-content: center;
    flex-basis: 100%;
}
header a > img{
    padding-left: 0;
    padding-bottom: 20px;
}
header nav{
    display: flex;
    flex-basis: 100%;
}
header nav ul > li{
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
}
header nav ul > li:hover{
    border-top: none;
    border-bottom: 3px solid #0065fc;
}

/* Location */

#location{
    padding: 30px 20px;
}
#location form button{
    border-radius: 15px;
    font-size: 18px;
    width: 60px;
}
#location form button span{
    display: none;
}
#location form button > i{
    display: contents;
}

/* Filters */

#filters{
    padding: 20px;
}
#filters > h2{
    flex-basis: 100%;
    margin: 0;
}
#filters ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#filters ul li{
    margin-left: 0;
}

/* Most popular */

#mostpopular{
    flex-basis: 100%;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    padding: 20px;
}
#mostpopular article{
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
}

/* Accommodation */

#accommodation{
    flex-basis: 100%;
    background-color: white;
    padding: 20px;
}
#accommodation article{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}
#accommodation > a{
    display: flex;
    justify-content: center;
}

/* Activities */

#activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 20px;
    row-gap: 0;
}
#activities > h2{
    display: flex;
    flex-basis: 100%;
}
#activities div > article{
    display: flex;
    width: 100%;
    max-height: 170px;
    min-height: 170px;
}
#activities > div{
    display: flex;
    flex-basis: 100%;
}
#activities div > article{
    height: 170px;
    margin: 20px;
}
#activities div > article a{
    height: 170px;
}
#activities div article a figure > img{
    max-height: 120px;
    min-height: 120px;
    object-fit: cover;
}
#activities div:nth-child(3), #activities div:nth-child(5){
    flex-direction: row;
}

/* Footer */

footer > div{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 20px 40px;
}
footer div div{
    flex-basis: 25%;
}
}

@media screen and (max-width: 768px){

/* Header */
header a > img{
    max-width: 100px;
}

/* Main */
#location > p{
    padding-bottom: 20px;
}

/* Filters */
#filters{
    padding-top: 0;
    padding-bottom: 40px;
}

/* Mostpopular */
#mostpopular{
    flex-direction: column;
    row-gap: 20px;
}
#mostpopular h2{
    max-height: 20px;
    flex-basis: 100%;
}
#mostpopular > article{
    flex-basis: 100%;
    max-height: 125px;
    width: 100%;
}

/* Accommodation */
#accommodation{
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}
#accommodation h2{
    max-height: 20px;
    padding-bottom: 30px;
}
#accommodation article{
    max-height: 200px;
    display: flex;
}
#accommodation article a{
    flex-basis: 100%;
}
#accommodation article a > div{
    display: flex;
    justify-content: center;
}
#accommodation article a div > h3{
    padding: 0;
}
#accommodation > a{
    display: flex;
    flex-basis: 100%;
    position: absolute;
    bottom: -30px;
    justify-content: flex-start;
}

/* Activities */
#activities{
    padding-top: 80px;
    row-gap: 25px;
    padding-bottom: 40px;
}
#activities div article{
    margin: 0;
}
#activities div:nth-child(3), #activities div:nth-child(5){
    flex-direction: column;
    row-gap: 25px;
    margin: 0;
}

/* Footer */
footer div{
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
}
}